<div class="patient-info">
    <div class="section-row">
      <div class="column">
        <div class="label">Patient ID</div>
        <div class="value">0000005105</div>
      </div>
      <div class="column">
        <div class="label">IP #</div>
        <div class="value">
          <input type="text" readonly>
        </div>
      </div>
      <div class="column">
        <div class="label">Patient Name</div>
        <div class="value">Mrs. Geethu George, Female / 32Y 2M 27D</div>
      </div>
      <div class="column">
        <div class="label">Diagnosis View</div>
        <button>Diagnosis View</button>
        <button>Add Allergy</button>
        <button>Surgery Calendar</button>
      </div>
    </div>

    <div class="section-row">
      <div class="column">
        <div class="label">Nursing Station</div>
        <div class="value">
          <input type="text" readonly>
        </div>
      </div>
      <div class="column">
        <div class="label">Admission Reason</div>
        <div class="value">
          <input type="text" readonly>
        </div>
      </div>
      <div class="column">
        <div class="label">Admission Date</div>
        <div class="value">
          <input type="text" readonly>
        </div>
      </div>
    </div>

    <div class="section-row">
      <div class="column">
        <div class="label">Request Date</div>
        <div class="value">18-10-2024 12:40 PM</div>
      </div>
      <div class="column">
        <div class="label">Bed</div>
        <div class="value">
          <input type="text" readonly>
        </div>
      </div>
      <div class="column">
        <div class="label">Room Type</div>
        <div class="value">
          <input type="text" value="Ward" readonly>
        </div>
      </div>
    </div>

    <div class="section-row">
      <div class="column">
        <div class="label">Doctor</div>
        <div class="value">ABHAY VINAYAK D</div>
      </div>
      <div class="column">
        <div class="label">Surgery Date Non-Confirmed</div>
        <div class="value">
          <input type="checkbox" checked>
          <input type="text" readonly>
        </div>
      </div>
      <div class="column">
        <div class="label">Accommodation Type</div>
        <div class="value">
          <select>
            <option value="Ward">Ward</option>
            <option value="Private">Private</option>
          </select>
        </div>
      </div>
    </div>

    <div class="section-row">
      <div class="column">
        <div class="label">Surgery Type</div>
        <div class="value">
          <input type="text" readonly>
        </div>
      </div>
    </div>

    <div class="section-row">
      <div class="column">
        <div class="label">Surgery Name</div>
        <div class="value">
          <input type="text" readonly>
          <input type="checkbox" value="Show All"> Show All
        </div>
      </div>
    </div>

    <div class="section-row">
      <div class="column">
        <div class="label">Anaesthesia Type</div>
        <div class="value">
          <input type="text" readonly>
        </div>
      </div>
    </div>

    <div class="section-row">
      <div class="column">
        <div class="label">Anaesthesiologist</div>
        <div class="value">
          <input type="text" readonly>
        </div>
      </div>
    </div>

    <div class="section-row">
      <div class="column">
        <div class="label">Anticoagulant use</div>
        <div class="value">
          <input type="radio" name="anticoagulant" value="Yes"> Yes
          <input type="radio" name="anticoagulant" value="No" checked> No
        </div>
      </div>
    </div>

    <div class="section-row">
      <div class="column" style="width: 100%">
        <div class="label">Pre Operative Instructions</div>
        <div class="value">
          <textarea placeholder="Enter pre-operative instructions"></textarea>
        </div>
      </div>
    </div>
  </div>