<div class="app-container">
  <!-- Menu bar -->
  <div class="menu-bar" *ngIf="menuVisible" cdkDropList (cdkDropListDropped)="onDrop($event)">
    <ul>
      <!-- Dynamically generate the menu items for Visit Summary and Lab Reports -->
      <li *ngFor="let section of sections" cdkDrag [class.active]="activeSection === section.id" (click)="onSectionClick(section)">
        <a>{{ section.name }}</a>
      </li>
    </ul>
  </div>

  <!-- Button to show the menu bar when hidden -->
  <button *ngIf="!menuVisible" class="toggle-menu-btn" (click)="toggleMenu()">Show Menu</button>

  <!-- Split panes -->
  <div class="split-container">
    <as-split [direction]="splitDirection">
      <as-split-area *ngFor="let pane of splitPanes" [size]="pane.size">
        <div class="pane-header">
          <button (click)="minimizePane(pane)">_</button>
          <button (click)="closePane(pane)">X</button>
        </div>
        <!-- Display Visit Summary and Lab Reports components here -->
         <div class="pane-content" *ngIf="!pane.minimized">
          <div class="section scroll-section" id="visit-summary">
            <h2>Visit Summary</h2>
            <div class="section-content"><app-section-one></app-section-one></div>
          </div>
          
          <div class="section scroll-section" id="lab-reports">
            <h2>Lab Reports</h2>
            <div class="section-content"><app-section-two></app-section-two></div>
          </div>
          
          <div class="section scroll-section" id="Complaints">
            <h2>Complaints and Exams</h2>
            <div class="section-content"><app-section-three></app-section-three></div>
          </div>

          <div class="section scroll-section" id="diagnosis">
            <h2>Diagnosis</h2>
            <div class="section-content"><app-section-four></app-section-four></div>
          </div>
          <div class="section scroll-section" id="vitalSign">
            <h2>Vital signs</h2>
            <div class="section-content"><app-section-five></app-section-five></div>
          </div>
          <div class="section scroll-section" id="allergies">
            <h2>Allergies</h2>
            <div class="section-content"><app-section-six></app-section-six></div>
          </div>

          <div class="section scroll-section" id="treatments">
            <h2>Admission Request</h2>
            <div class="section-content"><app-section-seven></app-section-seven></div>
          </div>

          <div class="section scroll-section" id="anaesthesia">
            <h2>Anaesthesia Record</h2>
            <div class="section-content"><app-section-eight></app-section-eight></div>
          </div>

          <div class="section scroll-section" id="surgery-request">
            <h2>Surgery Request</h2>
            <div class="section-content"><app-section-nine></app-section-nine></div>
          </div>

          <div class="section scroll-section" id="operation-notes">
            <h2>Operation Notes</h2>
            <div class="section-content">
              <app-section-ten></app-section-ten>
            </div>
          </div>
          
          <div class="section scroll-section" id="operation-notes-2">
            <h2>Operative Diagnosis</h2>
            <div class="section-content">
              <app-section-eleven></app-section-eleven>
            </div>
          </div>
          
          <div class="section scroll-section" id="operation-notes-3">
            <h2>Images</h2>
            <div class="section-content">
              <app-section-twelve></app-section-twelve>
            </div>
          </div>
          
        </div>
      </as-split-area>
    </as-split>
  </div>

  <!-- Button to toggle between horizontal and vertical split -->
  <button class="toggle-direction-btn" (click)="toggleSplitDirection()">{{splitDirection}}</button>
</div>