<div class="section-summary" (click)="onSectionSelect()">
    <div class="summary-header">
      <div class="summary-title">OP Visit Summary</div>
      <div class="summary-title">IP Visit Summary</div>
    </div>
    <div class="summary-body">
      <div class="visit-summary">
        <table>
          <thead>
            <tr>
              <th>Consult Date</th>
              <th>Doctor Name</th>
              <th>Diagnosis</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>04-11-2023</td>
              <td>Dr. Abhilash T G (Reg.34368), Cardiology</td>
              <td>J85.2: Abscess of lung without pneumonia</td>
            </tr>
            <tr>
              <td>01-11-2023</td>
              <td>Dr. Abhilash T G (Reg.34368), Cardiology</td>
              <td>J85.2: Abscess of lung without pneumonia</td>
            </tr>
            <tr>
              <td>25-10-2023</td>
              <td>Dr. Abhilash T G (Reg.34368), Cardiology</td>
              <td>J85.2: Abscess of lung without pneumonia</td>
            </tr>
            <tr>
              <td>19-05-2023</td>
              <td>Dr. Abhilash T G (Reg.34368), Cardiology</td>
              <td>J85.2: Abscess of lung without pneumonia</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="visit-summary">
        <table>
          <thead>
            <tr>
              <th>Consult Date</th>
              <th>Doctor Name</th>
              <th>Diagnosis</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>03-11-2023</td>
              <td>Dr. Abhilash T G (Reg.34368), Cardiology</td>
              <td>J85.2: Abscess of lung without pneumonia</td>
            </tr>
            <tr>
              <td>01-10-2023</td>
              <td>Dr. Abhilash T G (Reg.34368), Cardiology</td>
              <td>J85.2: Abscess of lung without pneumonia</td>
            </tr>
            <tr>
              <td>15-09-2023</td>
              <td>Dr. Ajish T P (Reg.32379), Endocrinology</td>
              <td>J85.2: Abscess of lung without pneumonia</td>
            </tr>
            <tr>
              <td>21-07-2023</td>
              <td>Dr. Abhilash T G (Reg.34368), Cardiology</td>
              <td>J85.2: Abscess of lung without pneumonia</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  